# cnd: http://unblock-google.oss-cn-qingdao.aliyuncs.com

# Set the Sass partials directory, as we're using @imports
sass:
  sass_dir: _scss
  style: :compressed # You might prefer to minify using :compressed or :expanded

# Use the following plug-ins
gems:
  - jemoji # Emoji please!


# Exclude these files from your production _site
exclude:
    - Gemfile
    - Gemfile.lock
    - LICENSE
    - README.md

